---
http_interactions:
- request:
    method: post
    uri: https://secure.mollie.nl/xml/ideal?a=check&partnerid=987654&testmode=false&transaction_id=c9f93e5c2bd6c1e7c5bee5c5580c6f83
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" ?>\n<response>\n\t<order>\n\t\t<transaction_id>c9f93e5c2bd6c1e7c5bee5c5580c6f83</transaction_id>\n\t\t<amount>1000</amount>\n\t\t<currency>EUR</currency>\n\t\t<payed>false</payed>\n\t\t<message>This
        iDEAL-order wasn't payed for, or was already checked by you. (We give payed=true
        only once, for your protection)</message>\n\t\t<status>CheckedBefore</status>\n\t</order>\n\n</response>"
  recorded_at: Wed, 28 Mar 2012 11:49:24 GMT
- request:
    method: post
    uri: https://secure.mollie.nl/xml/ideal?a=check&partnerid=987654&testmode=false&transaction_id=482d599bbcc7795727650330ad65fe9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" ?>\n<response>\n\t<order>\n\t\t<transaction_id>482d599bbcc7795727650330ad65fe9b</transaction_id>\n\t\t<amount>1000</amount>\n\t\t<currency>EUR</currency>\n\t\t<payed>true</payed>\n\t\t<consumer>\n\t\t\t<consumerName>Hr
        J Janssen</consumerName>\n\t\t\t<consumerAccount>P001234567</consumerAccount>\n\t\t\t<consumerCity>Amsterdam</consumerCity>\n\t\t</consumer>\n\t\t<message>This
        iDEAL-order has successfuly been payed for, and this is the first time you
        check it.</message>\n\t</order>\n\n</response>"
  recorded_at: Wed, 28 Mar 2012 11:52:09 GMT
- request:
    method: post
    uri: https://secure.mollie.nl/xml/ideal?a=check&partnerid=654321&testmode=false&transaction_id=482d599bbcc7795727650330ad65fe9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" ?>\n<response>\n\t<item type=\"error\">\n\t\t<errorcode>-10</errorcode>\n\t\t<message>This
        is an unknown order.</message>\n\t</item>\n</response>"
  recorded_at: Wed, 28 Mar 2012 11:54:11 GMT
recorded_with: VCR 2.0.0
