---
http_interactions:
- request:
    method: post
    uri: https://secure.mollie.nl/xml/ideal?a=fetch&amount=1000&bank_id=0031&description=test&partnerid=987654&reporturl=http%3A%2F%2Fexample.org%2Freport&returnurl=http%3A%2F%2Fexample.org%2Freturn&testmode=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" ?>\n<response>\n\t<order>\n\t\t<transaction_id>c9f93e5c2bd6c1e7c5bee5c5580c6f83</transaction_id>\n\t\t<amount>1000</amount>\n\t\t<currency>EUR</currency>\n\t\t<URL>https://www.abnamro.nl/nl/ideal/identification.do?randomizedstring=8433910909&amp;trxid=30000217841224</URL>\n\t\t<message>Your
        iDEAL-payment has successfully been setup. Your customer should visit the
        given URL to make the payment</message>\n\t</order>\n</response>"
  recorded_at: Wed, 28 Mar 2012 11:43:50 GMT
- request:
    method: post
    uri: https://secure.mollie.nl/xml/ideal?a=fetch&amount=1000&bank_id=0031&description=test&partnerid=987654&profile_key=123abc45&reporturl=http%3A%2F%2Fexample.org%2Freport&returnurl=http%3A%2F%2Fexample.org%2Freturn&testmode=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" ?>\n<response>\n\t<order>\n\t\t<transaction_id>474ed7b2735cbe4d1f4fd4da23269263</transaction_id>\n\t\t<amount>1000</amount>\n\t\t<currency>EUR</currency>\n\t\t<URL>https://www.abnamro.nl/nl/ideal/identification.do?randomizedstring=6616737002&amp;trxid=30000226032385</URL>\n\t\t<message>Your
        iDEAL-payment has successfully been setup. Your customer should visit the
        given URL to make the payment</message>\n\t</order>\n</response>"
  recorded_at: Wed, 28 Mar 2012 11:47:09 GMT
- request:
    method: post
    uri: https://secure.mollie.nl/xml/ideal?a=fetch&amount=1234&bank_id=0031&description=exception+test&partnerid&reporturl&returnurl&testmode=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" ?>\n<response>\n\t<item type=\"error\">\n\t\t<errorcode>-2</errorcode>\n\t\t<message>A
        fetch was issued without specification of 'partnerid'.</message>\n\t</item>\n</response>"
  recorded_at: Wed, 28 Mar 2012 11:54:10 GMT
- request:
    method: post
    uri: https://secure.mollie.nl/xml/ideal?a=fetch&amount=1234&bank_id=0031&description=exception+test&partnerid=123465&reporturl=http%3A%2F%2Fexample.org%2Freport&returnurl=http%3A%2F%2Fexample.org%2Freturn&testmode=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" ?>\n<response>\n\t<item type=\"error\">\n\t\t<errorcode>-2</errorcode>\n\t\t<message>This
        account does not exist or is suspended.</message>\n\t</item>\n</response>"
  recorded_at: Wed, 28 Mar 2012 11:54:10 GMT
- request:
    method: post
    uri: https://secure.mollie.nl/xml/ideal?a=fetch&amount=1234&bank_id=0031&description=exception+test&partnerid=123456&profile_key=00000000&reporturl=http%3A%2F%2Fexample.org%2Freport&returnurl=http%3A%2F%2Fexample.org%2Freturn&testmode=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" ?>\n<response>\n\t<item type=\"error\">\n\t\t<errorcode>-16</errorcode>\n\t\t<message>A
      fetch was issued for an unknown or inactive profile.</message>\n\t</item>\n</response>"
  recorded_at: Wed, 28 Mar 2012 11:54:10 GMT
recorded_with: VCR 2.0.0
